@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.highlight {
    background-color: yellow;
  }

a.orange {
    text-decoration: none;
    color: #BF8F78;
}

a.black {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin: 0px 70px 0px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo a {
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav .logo img {
    width: 60px;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 100px;
    font-size: 16px;

}

input[type=text] {
    width: 230px;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    background-image: url('icons/search.svg'), url('icons/close.svg');
    background-position: 10px, calc(100% - 10px);
    background-repeat: no-repeat, no-repeat;
}

.header1 {
    position: relative;
    display: flex;
    margin-top: 70px;
    margin-left: 70px;
    font-weight: bold;
    font-size: 100px;
    color: black;
}

.header2 {
    position: relative;
    display: flex;
    margin-left: 70px;
    font-weight: bold;
    font-size: 100px;
    color: black;
}

.lineheight1 {
    margin-top: -25px;
}

.container {
    display: flex;      
    justify-content: center;
}

.cloud {
    margin-top: 35px;
    position: absolute;
    z-index: -1;
    width: 1080px;
    animation: anime 0.8s infinite ease-in-out alternate;
    -webkit-animation: anime 0.8s infinite ease-in-out alternate;
}

@keyframes anime {
    100% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}

.tagline1 {
    color: black;
    margin: 125px 70px 0px 70px;
    font-size: 18px;
}

.tagline2 {
    color: black;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 18px;
}

.con {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scroll {
    color: #BF8F78;
    font-size: 18px;
    margin: 0px 70px 0px;
}

.mms {
    display: flex;
    justify-content: right;
    margin: 0px 70px 0px;
    font-size: 200px;
    font-weight: bold;
    -webkit-text-stroke: 2px #ddd;
    color: rgba(255, 255, 255, 0);
    line-height: 200px;
}

.inner {
    display: flex;
    align-items: center;
}

.container1 {
    position: relative;
    background-color: black;
    width: 95vw;
    border-radius: 40px;
    margin: 0 auto;
    padding: 35px;
    margin-top: 70px;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.container2 {
    position: relative;
    width: 30vw;
    height: 30vw;
    background-image: url(abstract1.png);
    background-position: center;
    border-radius: 40px;

}

.container3 {
    width: 30vw;
    height: 8vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    padding: 0px 35px;
    align-items: center;
}

.formargin {
    margin: 8% 0px;
}

.text1 {
    color: white;
    font-size: 30px;
}

.lineheight2 {
    margin-top: -7.5px;
}

@media screen and (max-width: 800px) {
    .text1 {
      font-size: 14px;
      line-height: 14px;
    }
  }

.text2 {
    font-size: 16px;
    color: white;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .text2 {
      font-size: 7px;
      line-height: 7px;
    }
  }

.space1 {
    color: rgba(0, 0, 0, 0);
    height: 5vh;
}

.text3 {
    color: white;
    font-size: 50px;
    line-height: 50px;
}

@media screen and (max-width: 800px) {
    .text3 {
      font-size: 23px;
      line-height: 23px;
    }
  }

.container4 {
    position: relative;
}

.container5 {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 40px;
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container6 {
    position: relative;
    padding: 25px;
}

.text4 {
    background-color: white;
    border-radius: 15px;
    color: black;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    position: absolute;
    right: 25px;
    padding: 7.5px;
}

.text5 {
    color: white;
    font-size: 16px;
    line-height: 16px;
}

.space2 {
    color: rgba(0, 0, 0, 0);
    height: 1vw;
}

.text6 {
    color: white;
    font-size: 50px;
    line-height: 50px;
}

.container7 {
    background-image: url(spending.jpg);
    background-position: center;
    border-radius: 40px;
}

.container8 {
    position: relative;
    display: grid;
    grid-template-rows: 2hr 3hr;
    width: 100vw;
}

.container9 {
    margin: 140px 70px 70px 70px;
}

.text7 {
    font-size: 16px;
    color: black;
    font-style: italic;
    position: absolute;
}

.text8 {
    color: black;
    font-size: 50px;
    line-height: 50px;
    margin-left: 10vw;
}

.container10 {
    display: relative;
}

.card1 {
    margin-top: 70px;
    position: absolute;
    width: 30vw;
    height: 20vw;
    margin-left: calc(70px + 10vw);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
}

.card2 {
    position: relative;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.card3 {
    position: relative;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.image1 {
    position: absolute;
    width: calc(100% - 2vw);
    margin: 1vw;
    height: 60%;
    background-image: url(abstract2.jpg);
    background-position: center;
    border-radius: 40px;
}

.image2 {
    position: absolute;
    width: calc(100% - 2vw);
    margin: 1vw;
    height: 60%;
    background-image: url(abstract3.jpg);
    background-position: center;
    border-radius: 40px;
}

.text9 {
    margin-top: 100%;
    margin-left: 1vw;
    font-size: 16px;
}

.text10 {
    margin-top: 100%;
    margin-left: 1vw;
    font-size: 16px;
}

.whitebutton1 {
    position: absolute;
    right: 35px;
    bottom: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}

.whitebutton2 {
    position: absolute;
    right: 25px;
    bottom: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}

.blackbutton {
    position: absolute;
    right: 1vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
}

.arrowoutward {
    margin: 0 auto;
}

footer {
    margin-top: 700px;
    background-color: black;
    height: 220px;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo a {
    margin-top: 1vw;
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer .logo img {
    margin-top: 1vw;
    width: 60px;
    height: 60px;
}

footer ul {
    margin-top: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 16px;
}

a.white {
    text-decoration: none;
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    margin-top: 4vw;
}