@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a.orange {
    text-decoration: none;
    color: #BF8F78;
}

a.black {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin: 0px 70px 0px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo a {
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav .logo img {
    width: 60px;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 100px;
    font-size: 16px;

}

input[type=text] {
    width: 230px;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    background-image: url('search.svg'), url('close.svg');
    background-position: 10px, calc(100% - 10px);
    background-repeat: no-repeat, no-repeat;
}

.header {
    position: relative;
    display: flex;
    margin: 70px 70px 0px 70px;
    line-height: 100px;
    font-weight: bold;
    font-size: 100px;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.cloud {
    margin-top: 35px;
    position: absolute;
    z-index: -1;
    width: 1080px;
    animation: anime 0.8s infinite ease-in-out alternate;
    -webkit-animation: anime 0.8s infinite ease-in-out alternate;
}

@keyframes anime {
    100% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}

.tagline {
    color: black;
    margin: 125px 70px 0px 70px;
    font-size: 18px;
}

.content {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scroll {
    color: #BF8F78;
    font-size: 18px;
    margin: 0px 70px 0px;
}

.mms {
    display: flex;
    justify-content: right;
    margin: 0px 70px 0px;
    font-size: 200px;
    font-weight: bold;
    -webkit-text-stroke: 2px #ddd;
    color: rgba(255, 255, 255, 0);
    line-height: 200px;
}

.inner {
    display: flex;
    align-items: center;
}
